//Livvic
@font-face {
    font-family: "Livvic";
    src: url("../fonts/Livvic/Livvic-Regular.ttf");
}

@font-face {
    font-family: "Livvic-thin";
    src: url("../fonts/Livvic/Livvic-Thin.ttf");
}

@font-face {
    font-family: "Livvic-medium";
    src: url("../fonts/Livvic/Livvic-Medium.ttf");
}

@font-face {
    font-family: "Livvic-medium-italic";
    src: url("../fonts/Livvic/Livvic-MediumItalic.ttf");
}

@font-face {
    font-family: "Livvic-semi-bold";
    src: url("../fonts/Livvic/Livvic-SemiBold.ttf");
}

@font-face {
    font-family: "Livvic-bold";
    src: url("../fonts/Livvic/Livvic-Bold.ttf");
}

//Ubuntu
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu-light";
    src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}

@font-face {
    font-family: "Ubuntu-medium";
    src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: "Ubuntu-bold";
    src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
}
