<section class="app-component main-layout">
    <section class="app-header flex align-center space-between">
        <h1 routerLink="">BitCoin!!!</h1>
        <nav>
            <div class="btn-menu" [ngClass]="{'open' : isMenuOpen}" (click)="toggleMenu()">
                <span class="btn-menu-top"></span>
                <span class="btn-menu-middle"></span>
                <span class="btn-menu-bottom"></span>
            </div>
            <ul class="clean-list flex" [ngClass]="{'open' : isMenuOpen}">
                <li><a routerLink="home">Home</a></li>
                <li><a routerLink="contact">Contacts</a></li>
                <li><a routerLink="stats">Statistics</a></li>
            </ul>
        </nav>
    </section>
    <router-outlet></router-outlet>
</section>